<div class="container">
    <div class="row">
        <div class="col-md-2 text-left">
            <h3>Marca</h3>
        </div>
        <div class="col-md-8 gap-top15">
            <input type="text" class="form-control"  [(ngModel)]="marca"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 text-left">
            <h3>Categoria</h3>
        </div>
        <div class="col-md-8 gap-top15">
            <select class="form-control" [(ngModel)]="categoria">
                <option value="automobilistica" value="AUTOMOBILISTICA">AUTOMOBILISTICA</option>
                <option value="automobilistica" value="COMIDA">COMIDA</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 text-left">
            <h3>Link</h3>
        </div>
        <div class="col-md-8 gap-top15">
            <input type="text" class="form-control" value="12312312" [(ngModel)]="link"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 text-left">
            <h3>Imagem</h3>
        </div>
        <div class="col-md-8 gap-top15">
            <input type="text" class="form-control" value="12312312" [(ngModel)]="imagem"/>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2 text-left">
            <h3>PROGRAMA</h3>
        </div>
        <div class="col-md-8 gap-top15">
            <select class="form-control" [(ngModel)]="programa">
                <option *ngFor="let programa of programas" value="programa._id">{{programa.nome}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-left">
            <h3>ATIVIDADE</h3>
        </div>
        <div class="col-md-8 gap-top15">
            <select class="form-control" [(ngModel)]="atividade">
                <option *ngFor="let atividade of atividades" value="atividade._id">{{atividade.tipoAtividade}}</option>
            </select>
        </div>
    </div>
    <div class="row gap-top15">
        <div class="col-md-offset-4 col-md-4 text-left">
            <input type="button" class="form-control btn-primary" value="SALVAR" (click)="salvar()" />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-12 gap-top45">
            <table class="table table-striped from-">
                <thead>
                    <tr>
                        <th class="text-center">MARCA</th>
                        <th class="text-center">PROGRAMA</th>
                        <th class="text-center">TAREFA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">FIAT</td>
                        <td class="text-center">MAIS VOCÊ</td>
                        <td class="text-center">ACESSO_URL</td>
                    </tr>
                    <tr>
                        <td class="text-center">BOSCH</td>
                        <td class="text-center">FAUSTÃO</td>
                        <td class="text-center">ACESSO_URL</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>